html {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  padding: 10px 30px 30px;
}
h1 {
  font-weight: bold;
  border-bottom: 1px solid #000000;
  padding: 10px 0;
  margin: 0 0 100px;
}
figure {
  padding: 0;
  margin: 0 0 75px;
}